body {
    background: dodgerblue;
}
.form_auth_block{
    width: 300px;
    height: 300px;
    margin: auto;
    background: whitesmoke;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.form_auth_block_content{
    padding-top: 5%;
}
.form_auth_block_head_text{
    display: block;
    text-align: center;
    /*padding: 10px;*/
    font-size: 20px;
    font-weight: 600;
    opacity: 1.0;
}
.form_auth_block label{
    display: block;
    text-align: center;
    padding: 10px;
    background: #ffffff;
    opacity: 0.7;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
.form_auth_block input{
    display: block;
    margin: 15px auto;
    width: 80%;
    height: 45px;
    border-radius: 10px;
    border: solid 0.5px gray;
    outline: none;
}
input:focus {
    color: #000000;
    border-radius: 10px;
    border: 2px solid #436fea;
}
.form_auth_button{
    display: block;
    width: 80%;
    margin: 30px auto;
    /*margin-top: 15px;*/
    border-radius: 10px;
    height: 45px;
    border: none;
    cursor: pointer;
    background: orange;
}
::-webkit-input-placeholder {color:#3f3f44; padding-left: 10px;}
::-moz-placeholder          {color:#3f3f44; padding-left: 10px;}
:-moz-placeholder           {color:#3f3f44; padding-left: 10px;}
:-ms-input-placeholder      {color:#3f3f44; padding-left: 10px;}
