<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Авторизация</p>
        <form class="form_auth_style" action="/api/auth/login" method="post">
            <label>Введите Ваш имейл</label>
            <input type="login" name="login" placeholder="Введите Ваш логин" required >
            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required >
            <button class="form_auth_button" type="submit" >Войти</button>
        </form>
    </div>
</div>
</body>
</html>
